<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="get" action="/upload_page">
    <button type="submit">Report upload page</button>
</form>

<div>List of reports</div>
<span>
{{#messages}}
    <div>
        <b>{{id}}</b>
    </div>
{{/messages}}
</span>
</body>
</html>