<!DOCTYPE HTML>
<html>
<head>
    <title>Title</title>
</head>
<body>

<form method="POST" action="uploadFile" enctype="multipart/form-data">
    Summary.html:
    <input type="file" name="file"><br />
    <input type="submit" value="uploadFile">
</form>

<form method="get" action="/">
    <button type="submit">Report list page</button>
</form>

</body>
</html>